body {
      font-family: "Inter", sans-serif;
      background-color: hsl(0, 0%, 8%);
      min-height: 100vh;
      display: grid;
      place-items: center;
}

a {
      text-decoration: none;
}

.container {
      position: relative;
      width: 330px;
      background-color: hsl(0, 0%, 12%);
      border-radius: 10px;
}

.container .img {
      position: relative;   
      display: flex;
      justify-content: center;
      align-items: center;
}

.container img {
      max-width: 100%;
      border-radius: 50%;
      margin: 30px 0 10px;
}

.container .info h3 {
      color: white;
      text-align: center;
      margin-top: 5px;
}

.container .info .city {
      color: hsl(75, 94%, 57%);
      font-size: 14px;
      text-align: center;
      margin-top: -5px;
}

.container .info p:not(.city){
      color: #ababab;
      text-align: center;
      padding-top: 10px;
      font-size: 15px;
}
.container .links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
}

.container .links a {
      width: 260px;
      color: white;
      text-align: center;
      padding: 10px 0;
      border: 1px solid transparent;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: hsl(0, 0%, 20%);
}

.container .links a:last-child {
      margin-bottom: 20px;
}